<div class="formContact">
    <p><img class="formLogos" src="/images/email.png"> info@alexandertisko.com</p>
    <p> <img class="formLogos" src="/images/phone2.png"> +5493434808505</p>
    <p> <img class="formLogos" src="/images/location2.png"> Trabajo remoto - Bs As</p>
</div>